<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    <table>
        <thead>
        <th th:each="levels : ${levels}">
            <th>Year</th>
            <th th:each="text : ${levels}" th:text="${text}"></th>
        </th>
        </thead>
        <tbody>
            <tr th:each="entry : ${entry.entrySet()}">
                <td th:text="${entry.key}"></td>
                <td th:each="innerEntry : ${entry.getValue().entrySet()}" th:text="${innerEntry.getValue()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>