<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    <table>
        <thead>
        <th>Year</th>
        <th th:each="levels : ${levels}">
            <th th:each="text : ${levels}" th:text="${text}"></th>
        </th>
        </thead>
        <tbody>
            <tr th:each="map : ${map}">
                <td th:text="${map.key}"></td>
                <td th:each="text : ${map.value}" th:text="${text}" ></td>
            </tr>
        </tr>
        </tbody>
    </table>
</body>
</html>