<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        table{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>
<!--            <th th:each="level : ${severityLevels}" th:text="${level}"></th>-->
                <tr>LOW</tr>
                <tr>MEDIUM</tr>
                <tr>HIGH</tr>
            </thead>
        <tbody>
            <tr th:each="entry :${severityPerYear.entrySet()}">
                <td th:text="${entry.key}"></td>
                <td th:each="innerEntryKey, innerEntryValue : ${entry.getValue().entrySet()}" th:if="${innerEntryKey.getKey() == 'LOW'}" th:text="${innerEntryKey.getValue()}"></td>
                <td th:each="innerEntryKey, innerEntryValue : ${entry.getValue().entrySet()}" th:if="${innerEntryKey.getKey() == 'MEDIUM'}" th:text="${innerEntryKey.getValue()}"></td>
                <td th:each="innerEntryKey, innerEntryValue : ${entry.getValue().entrySet()}" th:if="${innerEntryKey.getKey() == 'HIGH'}" th:text="${innerEntryKey.getValue()}"></td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>
